/* Style the body */
.body-style {
    background-image: url("../img/person.png"); /* Change background color */
    background-repeat: no-repeat;
    background-position: left top;
}
/*
Multi
line
comment
*/
.h1-style {
    text-align: center;
}
.p-style {
    font-family: "Sofia", sans-serif;
    font-size: 50px;
    text-align: center;
    /* text-decoration-line: line-through; */
    /* text-decoration-color: red; */
    text-transform: lowercase;
    letter-spacing: -2px;
    line-height: 2.5;
    word-spacing: 15px;
    text-shadow: 2px 2px red;
}
.border-style1 {
    border: black solid 5px;
    outline: green solid 10px;
    margin-bottom: 15px;
}
.border-style2 {
    border-style: double;
}